<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThalesSim.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ThalesSim.Core.Properties.Settings>
            <setting name="FirmwareNumber" serializeAs="String">
                <value>0007-E000</value>
            </setting>
            <setting name="DSPFirmwareNumber" serializeAs="String">
                <value>0001</value>
            </setting>
            <setting name="MaxConnections" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StartInAuthorizedState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LMKCheckValue" serializeAs="String">
                <value />
            </setting>
            <setting name="ClearPINLength" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="HostCommandPort" serializeAs="String">
                <value>9998</value>
            </setting>
            <setting name="ConsoleCommandPort" serializeAs="String">
                <value>9997</value>
            </setting>
            <setting name="HostCommandDefinitions" serializeAs="String">
                <value>..\..\..\HostCommands</value>
            </setting>
            <setting name="DoubleLengthZMKs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LegacyMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExpectTrailers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeaderLength" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="EBCDIC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckLMKParity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LMKStorageFile" serializeAs="String">
                <value>LMKSTORAGE.TXT</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>5</value>
            </setting>
        </ThalesSim.Core.Properties.Settings>
    </applicationSettings>
</configuration>