<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThalesPVVClashingDemo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ThalesPVVClashingDemo.My.MySettings>
            <setting name="clearTPK" serializeAs="String">
                <value>D3DCC7EA9BCB755D254620B376B3D007</value>
            </setting>
            <setting name="thalesPort" serializeAs="String">
                <value>9998</value>
            </setting>
            <setting name="thalesIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="encryptedTPK" serializeAs="String">
                <value>U8463435FC4B4DAA0C49025272C29B12C</value>
            </setting>
            <setting name="encryptedPVK" serializeAs="String">
                <value>UA8B1520E201412938388191885FFA50A</value>
            </setting>
            <setting name="PIN" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="PAN" serializeAs="String">
                <value>5044070000253237</value>
            </setting>
        </ThalesPVVClashingDemo.My.MySettings>
    </userSettings>
</configuration>
